html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(205deg, #ffffff 0%, rgba(214,243,255,1) 62%, #f3d6f7 100%);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color:#546296;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding-top: 6rem;
    padding-left: 10rem;
    padding-right: 5rem;
    font-size:150%;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}


   /* CSS */
.button-56 {
    font-family: 'Raleway', sans-serif;
   align-items: center;
   background-color: #e4ecfc;
   border: 2px solid #546296;
   border-radius: 8px;
   box-sizing: border-box;
   color: #546296;
   cursor: pointer;
   display: flex;
   font-size: 16px;
   height: 48px;
   justify-content: center;
   line-height: 24px;
   max-width: 100%;
   padding: 0 25px;
   position: relative;
   text-align: center;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-56:after {
    background-color: #546296;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #e4ecfc;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

.navigation {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
.navigation * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.navigation li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}
.navigation a {
    padding: 0.3em 0;
    color: rgba(110,124,183,0.73);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
}
.navigation a:before,
.navigation a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.navigation a:before {
    top: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #ecdff9;
}
.navigation a:after {
    padding: 0.3em 0;
    position: absolute;
    top: 100%;
    left: 0;
    content: attr(data-hover);
    color:#546296;
    white-space: nowrap;
    font-weight: bold;
}
.navigation  li:hover:not(:first-child) a,
.navigation .active a {
    transform: translateY(-100%);
}
.active{
    color:#546296;
}
#homepage{
    background-color: rgba(232,224,248,0.65);
    border-radius: 5rem;
    height: 35%;
    padding: 30px;
    margin-right: 8rem;
    margin-top:8rem;
 }
footer {
    margin-top: auto;
    border-top: 1px solid  rgba(110,124,183,0.73);;
}
ul {
    list-style-type: none;
}