<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🍧ICYum🍧</title>
    <meta name="description" content="Locate the iceCream!">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width-device-width">
    <link rel = "icon" href = "../img/ice-cream.ico">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script defer src="index.js"></script>
</head>
<body>
<main>
    <div class="flex-container">
        <div class="flex-items">
            <img src="../img/logo-name.png" alt="logo">
            <h1>Explore and enjoy</h1>
            <h1>all yummy ice cream</h1>
            <h1>places around you!</h1>
            <button class="button-56" role="button" onclick="window.location = 'home.html';"><strong>Explore</strong></button>
        </div>
        <div class="flex-items">
            <img src="../img/red-ice-cream.png" alt="ice cream">
        </div>
    </div>
</main>

</body>
</html>