<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Iceium|Scoop Shops</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width-device-width">
  <link rel = "icon" href = "../img/ice-cream.ico">
  <link href="../css/main.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<ul class="navigation">
  <li><a href="index.html" ><img src="../img/logo-name.png"></a></li>
  <li><a href="home.html" data-hover="Home">Home</a></li>
  <li class="active"><a  href="scoop.html" data-hover="Scoop Shops">Scoop Shops</a></li>
  <li><a href="grocery.html" data-hover="Grocery Stores">Grocery Stores</a></li>
  <li><a href="team.html" data-hover="Our Team">Our Team</a></li>
</ul>
<footer>
  <ul class="nav-list-footer">
    <li class="nav-item-f"><a  style="vertical-align:middle" target="_blank" href="https://github.com/starryskyyy/freyahacks"><img  style="vertical-align:middle" class="center" src="../img/gh.png"></a></li>
  </ul>
</footer>
</body>
</html>