<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Iceium|Team</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width-device-width">
  <link rel = "icon" href = "../img/ice-cream.ico">
  <link href="../css/main.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<ul class="navigation">
  <li><a href="index.html" ><img src="../img/logo-name.png"></a></li>
  <li><a href="home.html" data-hover="Home">Home</a></li>
  <li><a href="scoop.html" data-hover="Scoop Shops">Scoop Shops</a></li>
  <li><a href="grocery.html" data-hover="Grocery Stores">Grocery Stores</a></li>
  <li class="active"><a  href="team.html" data-hover="Our Team">Our Team</a></li>
</ul>
<main>
  <div class = "box1">
    <div class="content1">
      <h2>Hi I'm Zhi-Hahn and I am an incoming freshman to the University of California at Davis and I'm majoring in Computer Engineering.</h2>
      <p><a href="https://github.com/zhihahnsee">
        <img src="../img/gh.png" alt="GitHub" width="40" height="40">
      </a></p>
      <p><a href="https://www.linkedin.com/in/zhi-hahn-see=">
        <img src="../img/linkedin.png" alt="LinkedIn" width="40" height="40">
      </a></p>
    </div>
  </div>
  <div class = "box2">
    <div class="content2">
      <h2>Heeey! My name is Elizaveta or shortly Lisa. I am a student at George Brown College in Toronto, Canada. I am in my fifth semester studying Computer Science and I am in love with it!</h2>
      <p><a href="https://github.com/starryskyyy">
        <img src="../img/gh.png" alt="GitHub" width="40" height="40">
      </a></p>
      <p><a href="https://www.linkedin.com/in/elizavetav/">
        <img src="../img/linkedin.png" alt="LinkedIn" width="40" height="40">
      </a></p>
    </div>
  </div>
  <div class = "box3">
    <div class="content3">
      <h2>Hi I'm ___________ and I ___________</h2>
      <p><a href="https://github.com/Jkuffler">
        <img src="../img/gh.png" alt="GitHub" width="40" height="40">
      </a></p>
      <p><a href="https://www.linkedin.com/in/jason-kuffler/">
        <img src="../img/linkedin.png" alt="LinkedIn" width="40" height="40">
      </a></p>
    </div>
  </div>

  <div class="images">
    <div class="imageBox">
      <img src="../img/zhihahn.png" alt="img"/>
    </div>
    <div class="imageBox">
      <img src="https://loremflickr.com/320/240" alt="img"/>
    </div>
    <div class="imageBox">
      <img src="https://loremflickr.com/320/240" alt="img"/>
    </div>
  </div>
</main>
<footer>
  <ul class="nav-list-footer">
    <li class="nav-item-f"><a  style="vertical-align:middle" target="_blank" href="https://github.com/starryskyyy/freyahacks"><img  style="vertical-align:middle" class="center" src="../img/gh.png"></a></li>
  </ul>
</footer>
</body>
</html>
